<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordBuildingAerationDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordBuildingAerationData">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="regulation_mode" jdbcType="VARCHAR" property="regulationMode" />
    <result column="adjustment_facilities" jdbcType="VARCHAR" property="adjustmentFacilities" />
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="heating_mode" jdbcType="VARCHAR" property="heatingMode" />
  </resultMap>

  <select id="queryRecordBuildingAerationDataByPostPersonnel" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT rbad.id, rbad.building_aeration_id as buildingAerationId,
    rbad.building_name as buildingName,
    rbad.regulation_mode as regulationMode,
    rbad.adjustment_facilities as adjustmentFacilities,
    rbad.number as number,
    rbad.heating_mode as heatingMode
    FROM `record_building_aeration_data` rbad
    WHERE rbad.`building_aeration_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>