<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordTemperatureProtectionFacilitiesDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordTemperatureProtectionFacilitiesData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_office_id" jdbcType="BIGINT" property="companyOfficeId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="operation_and_maintenance" jdbcType="VARCHAR" property="operationAndMaintenance" />
    <result column="productive_heat_source" jdbcType="VARCHAR" property="productiveHeatSource" />
    <result column="temperature_protection_facilities" jdbcType="VARCHAR" property="temperatureProtectionFacilities" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
  </resultMap>

  <select id="selectRecordDataByTemperatureProtection" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT rtpfd.id, rtpfd.relation_id as relationId,
    rtpfd.company_office_id as companyOfficeId,
    rtpfd.post_id as postId,
    rtpfd.work_place as workPlace,
    rtpfd.operation_and_maintenance as operationAndMaintenance,
    rtpfd.productive_heat_source as productiveHeatSource,
    rtpfd.temperature_protection_facilities as temperatureProtectionFacilities,
    sco.`office_name` AS companyOfficeName
    FROM `record_temperature_protection_facilities_data` rtpfd, sys_company_office sco
    WHERE rtpfd.`company_office_id` = sco.`id`
    AND rtpfd.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>