<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordEquipmentDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordEquipmentData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="officd_id" jdbcType="BIGINT" property="officdId" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="epuipment_number" jdbcType="BIGINT" property="epuipmentNumber" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
  </resultMap>

  <select id="selectRecordDataByEquipment" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT red.id, red.relation_id as relationId,
    red.officd_id as officdId,
    red.process_name as processName,
    red.equipment_name as equipmentName,
    red.epuipment_number as epuipmentNumber,
    sco.`office_name` AS officeName
    FROM `record_equipment_data` red, sys_company_office sco
    WHERE red.`officd_id` = sco.`id`
    AND red.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>