<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.record_employee_summary_excelMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.record_employee_summary_excel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="work_type_id" jdbcType="BIGINT" property="workTypeId" />
    <result column="inspect_date" jdbcType="TIMESTAMP" property="inspectDate" />
    <result column="hazard_factor" jdbcType="VARCHAR" property="hazardFactor" />
    <result column="emp_identity_number" jdbcType="VARCHAR" property="empIdentityNumber"/>
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="work_type" jdbcType="VARCHAR" property="workType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
      <result column="contact_time" jdbcType="INTEGER" property="contactTime" />
    <result column="blood_pressure_shrink" jdbcType="VARCHAR" property="bloodPressureShrink" />
    <result column="blood_pressure_diastole" jdbcType="VARCHAR" property="bloodPressureDiastole" />
    <result column="heart" jdbcType="VARCHAR" property="heart" />
    <result column="lungs" jdbcType="VARCHAR" property="lungs" />
    <result column="skin_mucous_membrane" jdbcType="VARCHAR" property="skinMucousMembrane" />
    <result column="lymph_node" jdbcType="VARCHAR" property="lymphNode" />
    <result column="thyroid_gland" jdbcType="VARCHAR" property="thyroidGland" />
    <result column="ear" jdbcType="VARCHAR" property="ear" />
    <result column="nose" jdbcType="VARCHAR" property="nose" />
    <result column="throat" jdbcType="VARCHAR" property="throat" />
    <result column="vestibular_function" jdbcType="VARCHAR" property="vestibularFunction" />
    <result column="white_blood_cell" jdbcType="VARCHAR" property="whiteBloodCell" />
    <result column="neutrophile_granulocyte" jdbcType="VARCHAR" property="neutrophileGranulocyte" />
    <result column="red_blood_cell" jdbcType="VARCHAR" property="redBloodCell" />
    <result column="hemoglobin" jdbcType="VARCHAR" property="hemoglobin" />
    <result column="platelet" jdbcType="VARCHAR" property="platelet" />
    <result column="electrocardiogram" jdbcType="VARCHAR" property="electrocardiogram" />
    <result column="dbhl_500_l" jdbcType="VARCHAR" property="dbhl500L" />
    <result column="dbhl_1k_l" jdbcType="VARCHAR" property="dbhl1kL" />
    <result column="dbhl_2k_l" jdbcType="VARCHAR" property="dbhl2kL" />
    <result column="dbhl_3k_l" jdbcType="VARCHAR" property="dbhl3kL" />
    <result column="dbhl_4k_l" jdbcType="VARCHAR" property="dbhl4kL" />
    <result column="dbhl_6k_l" jdbcType="VARCHAR" property="dbhl6kL" />
    <result column="dbhl_500_r" jdbcType="VARCHAR" property="dbhl500R" />
    <result column="dbhl_1k_r" jdbcType="VARCHAR" property="dbhl1kR" />
    <result column="dbhl_2k_r" jdbcType="VARCHAR" property="dbhl2kR" />
    <result column="dbhl_3k_r" jdbcType="VARCHAR" property="dbhl3kR" />
    <result column="dbhl_4k_r" jdbcType="VARCHAR" property="dbhl4kR" />
    <result column="dbhl_6k_r" jdbcType="VARCHAR" property="dbhl6kR" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="inspect" jdbcType="CHAR" property="inspect" />
    <result column="inspect_year" jdbcType="INTEGER" property="inspectYear" />
  </resultMap>

<update id="updateExcelCompanyId">
update record_employee_summary_excel  set
company_id=(select sc.id from sys_company sc where sc.company_name= record_employee_summary_excel.company and status="0");
</update>
  <update id="updateExcelPostId">
  update record_employee_summary_excel   set
post_id=(select sco.id from sys_company_office sco where sco.office_name=record_employee_summary_excel.post and sco.company_id=record_employee_summary_excel.company_id  and status="0");
</update>
  <update id="updateExcelWorkTypeId">
update record_employee_summary_excel set
work_type_id=(select sco.id  from sys_company_office sco where sco.office_name=record_employee_summary_excel.work_type and sco.parent_id=record_employee_summary_excel.post_id and status="0");
</update>

<insert id="insertExcelToRecordEmployeeSummary">
  insert into record_employee_summary
(emp_id,office_id,work_type,name,age,sex,inspect_date,hazard_factor,inspect,contact_time,blood_pressure_shrink,
blood_pressure_diastole,heart,lungs,skin_mucous_membrane,lymph_node,thyroid_gland,ear,
white_blood_cell,neutrophile_granulocyte,red_blood_cell,hemoglobin,platelet,
electrocardiogram,dbhl_500_l,dbhl_1k_l,
dbhl_2k_l,dbhl_3k_l,dbhl_4k_l,dbhl_6k_l,dbhl_500_r,dbhl_1k_r,dbhl_2k_r,dbhl_3k_r,dbhl_4k_r,dbhl_6k_r,
status,create_by,create_date,update_by,update_date,inspect_year
)
select sc.id,post_id,work_type_id,rese.name,age,sex,inspect_date,hazard_factor,inspect,rese.contact_time,blood_pressure_shrink,
blood_pressure_diastole,heart,lungs,skin_mucous_membrane,lymph_node,thyroid_gland,ear,
white_blood_cell,neutrophile_granulocyte,red_blood_cell,hemoglobin,platelet,
electrocardiogram,dbhl_500_l,dbhl_1k_l,
dbhl_2k_l,dbhl_3k_l,dbhl_4k_l,dbhl_6k_l,dbhl_500_r,dbhl_1k_r,dbhl_2k_r,dbhl_3k_r,dbhl_4k_r,dbhl_6k_r,
rese.status,rese.create_by,rese.create_date,rese.update_by,rese.update_date,inspect_year
from record_employee_summary_excel rese left join sys_employee sc on  rese.emp_identity_number= sc.emp_identity_number where sc.status='0';

</insert>
  <select id="selectIdentity"  resultType="com.xdht.disease.sys.model.record_employee_summary_excel">
  select * from record_employee_summary_excel rese where rese.emp_identity_number  not in (
select sys_employee.emp_identity_number from sys_employee where status='0');

  </select>
  <select id="physicalExaminationInfOnce" resultType="com.xdht.disease.sys.model.record_employee_summary_excel">
 select rese.*  from record_employee_summary_excel rese,record_employee_summary res ,sys_employee se where rese.status=res.status=se.status='0'
 and res.emp_id=se.id and rese.emp_identity_number=se.emp_identity_number and rese.inspect_year=res.inspect_year;
  </select>
  <delete id="deleteAll">
 delete from record_employee_summary_excel;
  </delete>
<update id="insertEmployeeContactTime">
update sys_employee set contact_time= (select distinct contact_time from record_employee_summary where emp_id= sys_employee.id and status='0' order by update_date desc limit 1);
</update>
</mapper>
