<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordCompanySummaryMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordCompanySummary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="inspection_year" jdbcType="BIGINT" property="inspectionYear" />
    <result column="inspection_date" jdbcType="DATE" property="inspectionDate" />
    <result column="inspection_agency" jdbcType="VARCHAR" property="inspectionAgency" />
    <result column="physical_examination_type" jdbcType="VARCHAR" property="physicalExaminationType" />
    <result column="inspected_number" jdbcType="BIGINT" property="inspectedNumber" />
    <result column="actual_inspectd_number" jdbcType="BIGINT" property="actualInspectdNumber" />
    <result column="no_abnormality" jdbcType="BIGINT" property="noAbnormality" />
    <result column="review_number" jdbcType="BIGINT" property="reviewNumber" />
    <result column="doubtful_number" jdbcType="BIGINT" property="doubtfulNumber" />
    <result column="taboo_number" jdbcType="BIGINT" property="tabooNumber" />
    <result column="other_diseases_number" jdbcType="BIGINT" property="otherDiseasesNumber" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>

  <sql id="WHERE_SQL">
    <where>
      rcs.status = '0'
      <if test="inspectionAgency != null and inspectionAgency != ''">
       AND rcs.inspection_agency like concat('%', #{inspectionAgency},'%')
      </if>
      ORDER BY rcs.create_date DESC
    </where>
  </sql>

  <select id="setRecordCompanySummaryList" resultType="java.util.HashMap" parameterType="com.xdht.disease.sys.vo.request.RecordCompanySummaryRequest">
    SELECT rcs.id, rcs.company_id as companyId,
    (SELECT sc.`company_name` FROM sys_company sc WHERE sc.id = rcs.company_id) as companyName,
    rcs.inspection_year as inspectionYear,
    rcs.inspection_date as inspectionDate,
    rcs.inspection_agency as inspectionAgency,
    rcs.physical_examination_type as physicalExaminationType,
    rcs.inspected_number as inspectedNumber,
    rcs.actual_inspectd_number as actualInspectdNumber,
    rcs.no_abnormality as noAbnormality,
    rcs.review_number as reviewNumber,
    rcs.doubtful_number as doubtfulNumber,
    rcs.taboo_number as tabooNumber,
    rcs.other_diseases_number as otherDiseasesNumber,
    rcs.remarks
    FROM record_company_summary rcs
    <include refid="WHERE_SQL"></include>
    limit #{start}, #{pageSize}
  </select>

  <select id="setRecordCompanySummaryCount" resultType="java.lang.Integer" parameterType="com.xdht.disease.sys.vo.request.RecordCompanySummaryRequest">
      SELECT count(1)
      FROM record_company_summary rcs
      <include refid="WHERE_SQL"></include>
  </select>

  <select id="selectCompanySummaryEcharts" parameterType="com.xdht.disease.sys.vo.request.DateRequest" resultType="com.xdht.disease.sys.vo.response.RecordCompanySummaryEchartsResponse">
      SELECT
          year(rcs.inspection_date) as year,
          SUM(rcs.actual_inspectd_number) as 'counts'
      FROM
          record_company_summary rcs
      <include refid="where"></include>
      GROUP BY  year(rcs.inspection_date) ORDER BY year(rcs.inspection_date)
  </select>

  <select id="selectCompanySummaryPercentEcharts" parameterType="com.xdht.disease.sys.vo.request.DateRequest" resultType="com.xdht.disease.sys.vo.response.RecordCompanySummaryEchartsResponse">
         SELECT
          YEAR (rcs.inspection_date) AS YEAR,
          round ((SUM(rcs.actual_inspectd_number)- SUM(rcs.no_abnormality)) / SUM(rcs.actual_inspectd_number) *100,2) as percent
      FROM
          record_company_summary rcs
      <include refid="where"></include>
      GROUP BY
          YEAR (rcs.inspection_date)
      ORDER BY
          YEAR (rcs.inspection_date)
  </select>

  <sql id="where">
    <where>
       rcs.status = '0'
      <if test="startTime != null and startTime != ''" >
      <![CDATA[  AND year(rcs.inspection_date) >=  #{startTime, jdbcType=VARCHAR}]]>
      </if>
      <if test="endTime != null and endTime != ''" >
        <![CDATA[ AND year(rcs.inspection_date) <=  #{endTime,  jdbcType=VARCHAR}]]>
      </if>

    </where>
  </sql>
</mapper>