<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordEmployeeSummaryMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordEmployeeSummary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="emp_id" jdbcType="BIGINT" property="empId" />
    <result column="office_id" jdbcType="BIGINT" property="officeId" />
    <result column="work_type" jdbcType="BIGINT" property="workType" />
    <result column="inspect_date" jdbcType="DATE" property="inspectDate" />
    <result column="inspect" jdbcType="VARCHAR" property="inspect" />
    <result column="contact_time" jdbcType="INTEGER" property="contactTime" />
    <result column="hazard_factor" jdbcType="VARCHAR" property="hazardFactor" />
    <result column="blood_pressure_shrink" jdbcType="BIGINT" property="bloodPressureShrink" />
    <result column="blood_pressure_diastole" jdbcType="BIGINT" property="bloodPressureDiastole" />
    <result column="heart" jdbcType="VARCHAR" property="heart" />
    <result column="lungs" jdbcType="VARCHAR" property="lungs" />
    <result column="skin_mucous_membrane" jdbcType="VARCHAR" property="skinMucousMembrane" />
    <result column="lymph_node" jdbcType="VARCHAR" property="lymphNode" />
    <result column="thyroid_gland" jdbcType="VARCHAR" property="thyroidGland" />
    <result column="ear" jdbcType="VARCHAR" property="ear" />
    <result column="white_blood_cell" jdbcType="BIGINT" property="whiteBloodCell" />
    <result column="neutrophile_granulocyte" jdbcType="BIGINT" property="neutrophileGranulocyte" />
    <result column="red_blood_cell" jdbcType="BIGINT" property="redBloodCell" />
    <result column="hemoglobin" jdbcType="BIGINT" property="hemoglobin" />
    <result column="platelet" jdbcType="BIGINT" property="platelet" />
    <result column="white_blood_cell_urine" jdbcType="VARCHAR" property="whiteBloodCellUrine" />
    <result column="urine_protein" jdbcType="VARCHAR" property="urineProtein" />
    <result column="urine_occult_blood" jdbcType="VARCHAR" property="urineOccultBlood" />
    <result column="urine_sugar" jdbcType="VARCHAR" property="urineSugar" />
    <result column="ALTU_L" jdbcType="VARCHAR" property="altuL" />
    <result column="electrocardiogram" jdbcType="VARCHAR" property="electrocardiogram" />
    <result column="dbhl_500_l" jdbcType="BIGINT" property="dbhl500L" />
    <result column="dbhl_1k_l" jdbcType="BIGINT" property="dbhl1kL" />
    <result column="dbhl_2k_l" jdbcType="BIGINT" property="dbhl2kL" />
    <result column="dbhl_3k_l" jdbcType="BIGINT" property="dbhl3kL" />
    <result column="dbhl_4k_l" jdbcType="BIGINT" property="dbhl4kL" />
    <result column="dbhl_6k_l" jdbcType="BIGINT" property="dbhl6kL" />
    <result column="dbhl_500_r" jdbcType="BIGINT" property="dbhl500R" />
    <result column="dbhl_1k_r" jdbcType="BIGINT" property="dbhl1kR" />
    <result column="dbhl_2k_r" jdbcType="BIGINT" property="dbhl2kR" />
    <result column="dbhl_3k_r" jdbcType="BIGINT" property="dbhl3kR" />
    <result column="dbhl_4k_r" jdbcType="BIGINT" property="dbhl4kR" />
    <result column="dbhl_6k_r" jdbcType="BIGINT" property="dbhl6kR" />
  </resultMap>

  <sql id="WHERE_SQL">
    <where>
      status = '0'
      <if test="empName != null and empName != ''">
        AND (SELECT se.emp_name FROM sys_employee se WHERE se.id = res.`emp_id`) like concat('%', #{empName},'%')
      </if>
    </where>
  </sql>

  <select id="selectRecordEmployeeSummaryList" parameterType="com.xdht.disease.sys.vo.request.RecordCompanySummaryRequest" resultType="java.util.HashMap">
    select res.id as id,
    res.emp_id as empId,
    (SELECT se.emp_name FROM sys_employee se WHERE se.id = res.`emp_id`) AS empName,
    (SELECT se.emp_sex FROM sys_employee se WHERE se.id = res.`emp_id`) AS empSex,
    (SELECT DATE_FORMAT(NOW(), '%Y') - SUBSTRING( se.emp_identity_number,7,4) FROM sys_employee se WHERE se.id = res.`emp_id`) AS age,
    res.office_id as officeId,
    (SELECT sco.office_name FROM sys_company_office sco WHERE sco.id = res.`office_id`) AS officeName,
    (SELECT sco.company_id FROM sys_company_office sco WHERE sco.id = res.`office_id`) AS companyId,
    (SELECT sc.company_name FROM sys_company_office sco, sys_company sc WHERE sco.company_id = sc.id AND sco.id = res.`office_id`) AS companyName,
    res.work_type as workType,
    (SELECT sd.`dictionary_name` FROM sys_dictionary sd WHERE sd.`id` = res.work_type) as workTypeName,
    res.inspect_date as inspectDate,
    res.inspect as inspect,
    res.contact_time as contactTime,
    res.hazard_factor as hazardFactor,
    res.blood_pressure_shrink as bloodPressureShrink,
    res.blood_pressure_diastole as bloodPressureDiastole,
    res.heart as heart,
    res.lungs as lungs,
    res.skin_mucous_membrane as skinMucousMembrane,
    res.lymph_node as lymphNode,
    res.thyroid_gland as thyroidGland,
    res.ear as ear,
    res.white_blood_cell as whiteBloodCell,
    res.neutrophile_granulocyte as neutrophileGranulocyte,
    res.red_blood_cell as redBloodCell,
    res.hemoglobin as hemoglobin,
    res.platelet as platelet,
    res.white_blood_cell_urine as whiteBloodCellUrine,
    res.urine_protein as urineProtein,
    res.urine_occult_blood as urineOccultBlood,
    res.urine_sugar as urineSugar,
    res.ALTU_L as altuL,
    res.electrocardiogram as electrocardiogram,
    res.dbhl_500_l as dbhl500L,
    res.dbhl_1k_l as dbhl1kL,
    res.dbhl_2k_l as dbhl2kL,
    res.dbhl_3k_l as dbhl3kL,
    res.dbhl_4k_l as dbhl4kL,
    res.dbhl_6k_l as dbhl6kL,
    res.dbhl_500_r as dbhl500R,
    res.dbhl_1k_r as dbhl1kR,
    res.dbhl_2k_r as dbhl2kR,
    res.dbhl_3k_r as dbhl3kR,
    res.dbhl_4k_r as dbhl4kR,
    res.dbhl_6k_r as dbhl6kR
    from `record_employee_summary` res
    <include refid="WHERE_SQL"></include>
    limit #{start}, #{pageSize}
  </select>

  <select id="selectRecordEmployeeSummaryCount" parameterType="com.xdht.disease.sys.vo.request.RecordCompanySummaryRequest" resultType="java.lang.Integer">
    SELECT count(1)
    FROM `record_employee_summary` res
    <include refid="WHERE_SQL"></include>
  </select>

  <select id="selectRecordEmployeeSummaryDetail" parameterType="java.lang.Long" resultType="com.xdht.disease.sys.vo.response.RecordEmployeeSummaryResponse">
    select res.id as id,
    res.emp_id as empId,
    (SELECT se.emp_name FROM sys_employee se WHERE se.id = res.`emp_id`) AS empName,
    (SELECT se.emp_sex FROM sys_employee se WHERE se.id = res.`emp_id`) AS empSex,
    res.office_id as officeId,
    (SELECT sco.office_name FROM sys_company_office sco WHERE sco.id = res.`office_id`) AS officeName,
    (SELECT sco.company_id FROM sys_company_office sco WHERE sco.id = res.`office_id`) AS companyId,
    (SELECT sc.company_name FROM sys_company_office sco, sys_company sc WHERE sco.company_id = sc.id AND sco.id = res.`office_id`) AS companyName,
    res.work_type as workType,
    (SELECT sd.`dictionary_name` FROM sys_dictionary sd WHERE sd.`id` = res.work_type) as workTypeName,
    res.inspect_date as inspectDate,
    res.inspect as inspect,
    res.contact_time as contactTime,
    res.hazard_factor as hazardFactor,
    res.blood_pressure_shrink as bloodPressureShrink,
    res.blood_pressure_diastole as bloodPressureDiastole,
    res.heart as heart,
    res.lungs as lungs,
    res.skin_mucous_membrane as skinMucousMembrane,
    res.lymph_node as lymphNode,
    res.thyroid_gland as thyroidGland,
    res.ear as ear,
    res.white_blood_cell as whiteBloodCell,
    res.neutrophile_granulocyte as neutrophileGranulocyte,
    res.red_blood_cell as redBloodCell,
    res.hemoglobin as hemoglobin,
    res.platelet as platelet,
    res.white_blood_cell_urine as whiteBloodCellUrine,
    res.urine_protein as urineProtein,
    res.urine_occult_blood as urineOccultBlood,
    res.urine_sugar as urineSugar,
    res.ALTU_L as altuL,
    res.electrocardiogram as electrocardiogram,
    res.dbhl_500_l as dbhl500L,
    res.dbhl_1k_l as dbhl1kL,
    res.dbhl_2k_l as dbhl2kL,
    res.dbhl_3k_l as dbhl3kL,
    res.dbhl_4k_l as dbhl4kL,
    res.dbhl_6k_l as dbhl6kL,
    res.dbhl_500_r as dbhl500R,
    res.dbhl_1k_r as dbhl1kR,
    res.dbhl_2k_r as dbhl2kR,
    res.dbhl_3k_r as dbhl3kR,
    res.dbhl_4k_r as dbhl4kR,
    res.dbhl_6k_r as dbhl6kR
    from `record_employee_summary` res
    where res.id = #{id}
  </select>
</mapper>