<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordIndividualProtectiveEquipmentDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordIndividualProtectiveEquipmentData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_office_id" jdbcType="BIGINT" property="companyOfficeId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="hazard_factors" jdbcType="VARCHAR" property="hazardFactors" />
    <result column="protective_equipment" jdbcType="VARCHAR" property="protectiveEquipment" />
    <result column="technical_parameter" jdbcType="VARCHAR" property="technicalParameter" />
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="usaged" jdbcType="VARCHAR" property="usaged" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="earplugs_model" jdbcType="VARCHAR" property="earplugsModel" />
    <result column="earplugs_nrr" jdbcType="VARCHAR" property="earplugsNrr" />
    <result column="earplugs_snr" jdbcType="VARCHAR" property="earplugsSnr" />
    <result column="earmuff_model" jdbcType="VARCHAR" property="earmuffModel" />
    <result column="earmuff_nrr" jdbcType="VARCHAR" property="earmuffNrr" />
    <result column="earmuff_snr" jdbcType="VARCHAR" property="earmuffSnr" />
    <result column="allocation_situation" jdbcType="VARCHAR" property="allocationSituation" />
    <result column="usage_situation" jdbcType="VARCHAR" property="usageSituation" />
  </resultMap>

  <select id="selectRecordDataByIndividualProtective" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT riped.id, riped.relation_id as relationId,
    riped.company_office_id as companyOfficeId,
    riped.post_id as postId,
    riped.hazard_factors as hazardFactors,
    riped.protective_equipment as protectiveEquipment,
    riped.technical_parameter as technicalParameter,
    riped.number as number,
    riped.usaged as usaged,
    sco.`office_name` AS companyOfficeName,
    riped.earplugs_model as earplugsModel,
    riped.earplugs_nrr as earplugsNrr,
    riped.earplugs_snr as earplugsSnr,
    riped.earmuff_model as earmuffModel,
    riped.earmuff_nrr as earmuffNrr,
    riped.earmuff_snr as earmuffSnr,
    riped.allocation_situation as allocationSituation,
    riped.usage_situation as usageSituation
    FROM `record_individual_protective_equipment_data` riped, sys_company_office sco
    WHERE riped.`company_office_id` = sco.`id`
    AND riped.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>