<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordAntiNoiseFacilitiesDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordAntiNoiseFacilitiesData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_office_id" jdbcType="BIGINT" property="companyOfficeId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="noise_source" jdbcType="VARCHAR" property="noiseSource" />
    <result column="noise_protection_facilities" jdbcType="VARCHAR" property="noiseProtectionFacilities" />
    <result column="operation_and_maintenance" jdbcType="VARCHAR" property="operationAndMaintenance" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
  </resultMap>

  <select id="selectRecordDataByAntiNoise" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT ranf.id, ranf.relation_id as relationId,
    ranf.company_office_id as companyOfficeId,
    ranf.post_id as postId,
    ranf.work_place as workPlace,
    ranf.noise_source as noiseSource,
    ranf.noise_protection_facilities as noiseProtectionFacilities,
    ranf.operation_and_maintenance as operationAndMaintenance,
    sco.`office_name` AS companyOfficeName
    FROM `record_anti_noise_facilities_data` ranf, sys_company_office sco
    WHERE ranf.`company_office_id` = sco.`id`
    AND ranf.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>