<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordAuxiliaryHealthDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordAuxiliaryHealthData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="office_id" jdbcType="BIGINT" property="officeId" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="hygienic_room" jdbcType="VARCHAR" property="hygienicRoom" />
    <result column="living_room" jdbcType="VARCHAR" property="livingRoom" />
  </resultMap>
  <select id="queryAuxiliaryHealthDataByAuxiliary" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT rahd.id, rahd.auxiliary_health_id as auxiliaryHealthId,
    rahd.office_id as officeId,
    rahd.work_place as workPlace,
    rahd.hygienic_room as hygienicRoom,
    rahd.living_room as livingRoom,
    sco.`office_name` AS officeName
    FROM `record_auxiliary_health_data` rahd, sys_company_office sco
    WHERE rahd.`office_id` = sco.`id`
    AND rahd.`auxiliary_health_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>