<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordWorkLogDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordWorkLogData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_office_id" jdbcType="BIGINT" property="companyOfficeId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="person_of_class" jdbcType="BIGINT" property="personOfClass" />
    <result column="work_hours" jdbcType="VARCHAR" property="workHours" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="work_content" jdbcType="VARCHAR" property="workContent" />
    <result column="hazard_factors" jdbcType="VARCHAR" property="hazardFactors" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="time_consuming" jdbcType="VARCHAR" property="timeConsuming" />
  </resultMap>

  <select id="selectRecordDataByWorkLog" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT rwld.id, rwld.relation_id as relationId,
    rwld.company_office_id as companyOfficeId,
    rwld.post_id as postId,
    rwld.person_of_class as personOfClass,
    rwld.work_hours as workHours,
    rwld.work_place as workPlace,
    rwld.work_content as workContent,
    rwld.hazard_factors as hazardFactors,
    rwld.remarks as remarks,
    rwld.time_consuming as timeConsuming,
    sco.`office_name` AS companyOfficeName
    FROM `record_work_log_data` rwld, sys_company_office sco
    WHERE rwld.`company_office_id` = sco.`id`
    AND rwld.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>