<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordCompanySummaryMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordCompanySummary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="inspection_year" jdbcType="BIGINT" property="inspectionYear" />
    <result column="inspection_date" jdbcType="DATE" property="inspectionDate" />
    <result column="inspection_agency" jdbcType="VARCHAR" property="inspectionAgency" />
    <result column="physical_examination_type" jdbcType="VARCHAR" property="physicalExaminationType" />
    <result column="inspected_number" jdbcType="BIGINT" property="inspectedNumber" />
    <result column="actual_inspectd_number" jdbcType="BIGINT" property="actualInspectdNumber" />
    <result column="no_abnormality" jdbcType="BIGINT" property="noAbnormality" />
    <result column="review_number" jdbcType="BIGINT" property="reviewNumber" />
    <result column="doubtful_number" jdbcType="BIGINT" property="doubtfulNumber" />
    <result column="taboo_number" jdbcType="BIGINT" property="tabooNumber" />
    <result column="other_diseases_number" jdbcType="BIGINT" property="otherDiseasesNumber" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>

  <sql id="WHERE_SQL">
    <where>
      rcs.status = '0'
      <if test="inspectionAgency != null and inspectionAgency != ''">
        rcs.inspection_agency like concat('%', #{inspectionAgency},'%')
      </if>
    </where>
  </sql>

  <select id="setRecordCompanySummaryList" resultType="java.util.HashMap" parameterType="com.xdht.disease.sys.vo.request.RecordCompanySummaryRequest">
    SELECT rcs.id, rcs.company_id as companyId,
    (SELECT sc.`company_name` FROM sys_company sc WHERE sc.id = rcs.company_id) as companyName,
    rcs.inspection_year as inspectionYear,
    rcs.inspection_date as inspectionDate,
    rcs.inspection_agency as inspectionAgency,
    rcs.physical_examination_type as physicalExaminationType,
    rcs.inspected_number as inspectedNumber,
    rcs.actual_inspectd_number as actualInspectdNumber,
    rcs.no_abnormality as noAbnormality,
    rcs.review_number as reviewNumber,
    rcs.doubtful_number as doubtfulNumber,
    rcs.taboo_number as tabooNumber,
    rcs.other_diseases_number as otherDiseasesNumber,
    rcs.remarks
    FROM record_company_summary rcs
    <include refid="WHERE_SQL"></include>
    limit #{start}, #{pageSize}
  </select>

  <select id="setRecordCompanySummaryCount" resultType="java.lang.Integer" parameterType="com.xdht.disease.sys.vo.request.RecordCompanySummaryRequest">
      SELECT count(1)
      FROM record_company_summary rcs
      <include refid="WHERE_SQL"></include>
  </select>
</mapper>