<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordEmergencyFacilitiesDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordEmergencyFacilitiesData">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="office_id" jdbcType="BIGINT" property="officeId" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="emergency_facilities" jdbcType="VARCHAR" property="emergencyFacilities" />
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="operation_and_maintenance" jdbcType="VARCHAR" property="operationAndMaintenance" />
    <result column="technical_parameter" jdbcType="VARCHAR" property="technicalParameter" />
    <result column="hazard_factors" jdbcType="VARCHAR" property="hazardFactors" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
  </resultMap>

  <select id="selectRecordDataByEmergency" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT refd.id, refd.relation_id as relationId,
    refd.office_id as officeId,
    refd.work_place as workPlace,
    refd.emergency_facilities as emergencyFacilities,
    refd.number as number,
    refd.operation_and_maintenance as operationAndMaintenance,
    refd.technical_parameter as technicalParameter,
    refd.hazard_factors as hazardFactors,
    sco.`office_name` AS officeName
    FROM `record_emergency_facilities_data` refd, sys_company_office sco
    WHERE refd.`office_id` = sco.`id`
    AND refd.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>