<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordIndividualProtectiveEquipmentDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordIndividualProtectiveEquipmentData">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="company_office_id" jdbcType="BIGINT" property="companyOfficeId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="hazard_factors" jdbcType="VARCHAR" property="hazardFactors" />
    <result column="protective_equipment" jdbcType="VARCHAR" property="protectiveEquipment" />
    <result column="technical_parameter" jdbcType="VARCHAR" property="technicalParameter" />
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="usage" jdbcType="VARCHAR" property="usage" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
  </resultMap>

  <select id="selectRecordDataByIndividualProtective" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT riped.id, riped.relation_id as relationId,
    riped.company_office_id as companyOfficeId,
    riped.post_id as postId,
    riped.hazard_factors as hazardFactors,
    riped.protective_equipment as protectiveEquipment,
    riped.technical_parameter as technicalParameter,
    riped.number as number,
    riped.usage as usage,
    sco.`office_name` AS officeName
    FROM `record_individual_protective_equipment_data` riped, sys_company_office sco
    WHERE riped.`company_office_id` = sco.`id`
    AND riped.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>