<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordEquipmentLayoutDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordEquipmentLayoutData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="process_and_equipment" jdbcType="VARCHAR" property="processAndEquipment" />
    <result column="hazard_factors" jdbcType="VARCHAR" property="hazardFactors" />
    <result column="layout_detail" jdbcType="VARCHAR" property="layoutDetail" />
    <result column="remarkds" jdbcType="VARCHAR" property="remarkds" />
    <result column="office_id" jdbcType="BIGINT" property="officeId" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
  </resultMap>

  <select id="selectRecordDataByEquipmentLayout" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT reld.id, reld.relation_id as relationId,
    reld.office_id as officeId,
    reld.process_and_equipment as processAndEquipment,
    reld.hazard_factors as hazardFactors,
    reld.layout_detail as layoutDetail,
    reld.remarkds as remarkds,
    sco.`office_name` AS officeName
    FROM `record_equipment_layout_data` reld, sys_company_office sco
    WHERE reld.`office_id` = sco.`id`
    AND reld.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>