<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordHealthManagementDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordHealthManagementData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="health_management_id" jdbcType="BIGINT" property="healthManagementId" />
    <result column="health_management_project_id" jdbcType="BIGINT" property="healthManagementProjectId" />
    <result column="set_up_info" jdbcType="VARCHAR" property="setUpInfo" />
    <result column="implement_info" jdbcType="VARCHAR" property="implementInfo" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>

  <select id="selectRecordDataByHealthManagementId" parameterType="java.lang.Long" resultType="java.util.HashMap">
    select rhmd.id, rhmd.health_management_id as healthManagementId,
    rhmd.health_management_project_id as healthManagementProjectId,
    rhmd.set_up_info as setUpInfo,
    rhmd.implement_info as implementInfo,
    rhmd.remarks as remarks,
    sd.`dictionary_name` AS projectName
    from record_health_management_data rhmd, sys_dictionary sd
    where rhmd.health_management_project_id = sd.id
    and rhmd.health_management_id = #{id, jdbcType=BIGINT}
  </select>
</mapper>