<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordSceneMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordScene">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="record_no" jdbcType="VARCHAR" property="recordNo" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="inquiry_year" jdbcType="INTEGER" property="inquiryYear" />
    <result column="inquiry_type" jdbcType="INTEGER" property="inquiryType" />
    <result column="inquiry_person" jdbcType="VARCHAR" property="inquiryPerson" />
    <result column="inquiry_company" jdbcType="BIGINT" property="inquiryCompany" />
    <result column="inquiry_company_employee" jdbcType="BIGINT" property="inquiryCompanyEmployee" />
    <result column="inquiry_date" jdbcType="DATE" property="inquiryDate" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <select id="selectRecordSceneMapByPrimaryKey" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT
    rs.`id` AS id,
    rs.`project_name` AS projectName,
    rs.`record_no` AS recordNo,
    rs.inquiry_type AS inquiryType,
    (SELECT sd.`dictionary_name` FROM sys_dictionary sd where sd.id = rs.`inquiry_type`) as inquiryTypeName,
    rs.inquiry_person AS inquiryPerson,
    DATE_FORMAT(rs.inquiry_date, '%Y-%m-%d') AS inquiryDate,
    rs.inquiry_company AS inquiryCompany,
    (SELECT sc.`company_name` FROM sys_company sc WHERE sc.id = rs.inquiry_company) AS inquiryCompanyName,
    rs.inquiry_company_employee AS inquiryCompanyEmployee,
    (SELECT se.`emp_name` FROM sys_employee se WHERE se.`id` = rs.inquiry_company_employee) AS inquiryCompanyEmployeeName
    FROM record_scene rs
    WHERE rs.`id` = #{id, jdbcType=BIGINT}
    AND rs.status = 0
  </select>

  <sql id="WHERE_SQL">
    <where>
      rs.status = '0'
      <if test="projectName != null and '' != projectName">
        and rs.`project_name` like concat('%',#{projectName, jdbcType=VARCHAR} ,'%')
      </if>
      <if test="recordNo != null and '' != recordNo">
        and rs.`record_no` like concat('%',#{recordNo, jdbcType=VARCHAR} ,'%')
      </if>
      <if test="inquiryPerson != null and '' != inquiryPerson">
        and rs.`inquiry_person` like concat('%',#{inquiryPerson, jdbcType=VARCHAR} ,'%')
      </if>
      <if test="inquiryDate != null " >
        and rs.`inquiry_date` = #{inquiryDate, jdbcType=DATE}
      </if>
      <if test="inquiryYear != null " >
        and rs.`inquiry_year` = #{inquiryYear, jdbcType=INTEGER}
      </if>
    </where>
  </sql>

  <select id="selectRecordSceneList" resultType="com.xdht.disease.sys.vo.response.RecordSceneResponse" parameterType="com.xdht.disease.sys.vo.request.RecordSceneRequest">
    SELECT rs.id, rs.`record_no` AS recordNo,
    rs.`project_name` AS projectName,
    rs.`inquiry_type` AS inquiryType,
    (SELECT sd.`dictionary_name` FROM sys_dictionary sd where sd.id = rs.`inquiry_type`) as inquiryTypeName,
    rs.`inquiry_year` AS inquiryYear,
    rs.`inquiry_person` AS inquiryPerson,
    rs.`inquiry_date` AS inquiryDate,
    rs.`inquiry_company` AS inquiryCompany,
    (SELECT sc.`company_name` FROM sys_company sc WHERE sc.id = rs.`inquiry_company`) AS inquiryCompanyName,
    rs.`inquiry_company_employee` AS inquiryCompanyEmployee,
    (SELECT se.`emp_name` FROM `sys_employee` se WHERE se.`id` = rs.inquiry_company_employee) AS inquiryCompanyEmployeeName
    FROM `record_scene` rs
    <include refid="WHERE_SQL"></include>
    order by rs.`inquiry_year` desc, rs.`inquiry_company` asc
    limit #{start}, #{pageSize}
  </select>

  <select id="selectRecordSceneCount" resultType="java.lang.Integer" parameterType="com.xdht.disease.sys.vo.request.RecordSceneRequest">
    select count(1)
    FROM `record_scene` rs
    <include refid="WHERE_SQL"></include>
  </select>
</mapper>