<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordHazardFactorsDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordHazardFactorsData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="office_id" jdbcType="BIGINT" property="officeId" />
    <result column="hazard_factors" jdbcType="VARCHAR" property="hazardFactors" />
    <result column="exposure_mode" jdbcType="VARCHAR" property="exposureMode" />
    <result column="exposure_time" jdbcType="VARCHAR" property="exposureTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
  </resultMap>


  <select id="selectRecordDataByHazardFactors" parameterType="java.lang.Long" resultType="java.util.HashMap">
    SELECT rhfd.id, rhfd.relation_id as relationId,
    rhfd.office_id as officeId,
    rhfd.hazard_factors as hazardFactors,
    rhfd.exposure_mode as exposureMode,
    rhfd.exposure_time as exposureTime,
    rhfd.remarks as remarks,
    sco.`office_name` AS officeName
    FROM `record_hazard_factors_data` rhfd, sys_company_office sco
    WHERE rhfd.`office_id` = sco.`id`
    AND rppd.`relation_id` = #{id, jdbcType=BIGINT}
  </select>
</mapper>