<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.SysEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.SysEmployee">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="office_id" jdbcType="BIGINT" property="officeId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_sex" jdbcType="CHAR" property="empSex" />
    <result column="emp_native" jdbcType="VARCHAR" property="empNative" />
    <result column="emp_marriage" jdbcType="CHAR" property="empMarriage" />
    <result column="emp_education" jdbcType="CHAR" property="empEducation" />
    <result column="emp_hobby" jdbcType="VARCHAR" property="empHobby" />
    <result column="contact_time" jdbcType="INTEGER" property="contactTime"/>
    <result column="emp_work_date" jdbcType="DATE" property="empWorkDate" />
    <result column="emp_identity_number" jdbcType="VARCHAR" property="empIdentityNumber" />
    <result column="emp_photo_url" jdbcType="VARCHAR" property="empPhotoUrl" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="image_name" jdbcType="VARCHAR" property="imageName" />
  </resultMap>


  <select id="selectCompanyEmployeeList" resultMap="BaseResultMap" parameterType="com.xdht.disease.sys.vo.request.SysEmployeeCompanyRequest">
    select
    id
    office_id,
    emp_name,
    emp_sex,
    emp_native,
    emp_marriage,
    emp_education,
    emp_hobby,
    contact_time
    emp_work_date,
    emp_identity_number,
    emp_photo_url,
    status,
    create_by,
    create_date,
    update_by,
    update_date,
    remarks
    from sys_employee se
    <where>
      status = '0'
      <if test="companyOfficeId != null">
        and office_id = #{companyOfficeId, jdbcType=BIGINT}
      </if>
      <if test="companyId != null">
        and EXISTS ( select 1
        from sys_company_office sco
        where sco.id = se.office_id
        and sco.status = '0'
        and sco.company_id = #{companyId, jdbcType=BIGINT})
      </if>
    </where>
  </select>

  <sql id="WHERE_SQL">
    <where>
      sem.`office_id` = sof1.`id`
      AND sof1.`company_id` = company.`id`
      AND sof1.`parent_id` = sof2.`id`
      AND sem.`status` = '0'
      <if test="companyName != null and companyName != ''">
        and company.company_name like concat('%', #{companyName, jdbcType=VARCHAR}, '%')
      </if>
      <if test="officeName != null and officeName != ''">
        and sof2.`office_name` like concat('%', #{officeName, jdbcType=VARCHAR}, '%')
      </if>
      <if test="workTypeName != null and workTypeName != ''">
        and sof1.`office_name` like concat('%', #{workTypeName, jdbcType=VARCHAR}, '%')
      </if>
      <if test="empName != null and empName != ''">
        and sem.emp_name like concat('%', #{empName, jdbcType=VARCHAR}, '%')
      </if>
      <if test="empIdentityNumber != null and empIdentityNumber != ''">
        and sem.emp_identity_number like concat('%', #{empIdentityNumber, jdbcType=VARCHAR}, '%')
      </if>
      <if test="companyId != null and companyId != ''">
        and company.id=#{companyId, jdbcType=BIGINT}
      </if>
    </where>
  </sql>

  <select id="selectCompanyEmployeeListByRequest" resultType="java.util.HashMap" parameterType="com.xdht.disease.sys.vo.request.SysEmployeeRequest">
    SELECT sem.id,
    sem.office_id as officeId,
    sem.emp_name as empName,
    sem.emp_sex as empSex,
    sem.emp_native as empNative,
    sem.emp_marriage as empMarriage,
    sem.emp_education as empEducation,
    sem.emp_hobby as empHobby,
    sem.contact_time as contactTime,
    sem.emp_work_date as empWorkDate,
    sem.emp_identity_number as empIdentityNumber,
    sof1.`office_name` AS workTypeName,
    company.company_name AS companyName,
    sof2.`office_name` AS officeName
    FROM sys_employee sem, sys_company_office sof1, sys_company company, sys_company_office sof2
    <include refid="WHERE_SQL"></include>
    order by sem.id DESC
    limit #{start}, #{pageSize}
  </select>

  <select id="selectCompanyEmployeeCountByRequest" resultType="java.lang.Integer" parameterType="com.xdht.disease.sys.vo.request.SysEmployeeRequest">
    select count(1)
    FROM sys_employee sem, sys_company_office sof1, sys_company company, sys_company_office sof2
    <include refid="WHERE_SQL"></include>
  </select>
</mapper>